body {
    width: 380px;
    height: 60px;
    padding: 5px;
    font-family: sans-serif;
    gap: 5px;
}

.job-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.jobs {
    width: 280px;
    height: 25px;
}

.save-button {
    width: 90px;
    height: 25px;
    overflow-wrap: break-word;
}